
<%= form_for(@gallery, remote:true, :html => { :multipart => true, class: "crop_form" }) do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

      <ul>
      <% @gallery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.file_field :photo %>

    <%= f.cropbox :photo %>
  	<%= f.crop_preview :photo %>
  </div>
  <div class="actions">
    
  <%= f.submit 'Save' %>
  </div>
<% end %>
<script type="text/javascript">
  $(function  () {
    if ($('form').hasClass('new_gallery')){
      init_papercrop();
    }
 });
</script>