<h1>New gallery</h1>

<%= form_for Gallery.new do |f| %>
  <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.file_field :photo,name: "gallery[photo]" %>
<% end %>
<%= link_to 'Back', galleries_path %>
